*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("../img/blackjack-bgn.jpg");
    color: white;
}

.box{
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 50px;
}

.box h1 {
    color: white;
    font-weight: 500;
}

.box a{
    color: white;
    text-decoration: none;
}

.box a:hover{
    color: #a0a0a0;
}

.box input[type="text"], .box input[type="password"], .box input[type="email"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    font-size:20px;
    border-radius: 24px;
    transition: 1s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="email"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box button{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    font-size:20px;
    transition: 1s;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background: #2ecc71;
}